@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #392467;
  --secondary-color: #a367b1;
  --light-color: #ffd1e3;
}

* {
  font-family: "Montserrat", system-ui;
}
