.container {
  border-radius: 12px;
  background-color: aliceblue;
  max-width: 350px;
  width: 90%;
  margin: auto;
  min-height: 300px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  border-radius: 8px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 22px;
}
